@model IEnumerable<SportsEcomm.Models.Category>

@{
    ViewData["Title"] = "CategoryList";
}

<h1>CategoryList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>

                <a asp-action="ProductList" asp-controller="Products" asp-route-id="@item.id">ProductList</a>
            </td>
        </tr>
}
    </tbody>
</table>